* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', monospace;
}

:root {
    --base-color: #3e3a3a;
    --accent-color: #ced7dc;
    --sub-color: #e6e5ef;
}

button, input {
    font-family: inherit;
    color: inherit;
}

body {
    background-color: var(--accent-color);
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 30vh 2fr 2fr;
    grid-template-areas: 'sidebar header header'
                         'sidebar projects announcements'
                         'sidebar projects trending';
    border-radius: 10px;
    margin: 5px;
}

.sidebar {
    grid-area: sidebar;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 1rem;
    color: white;
    background-color: var(--base-color);
}

.logoBox {
    display: flex;
    align-items: center;
    gap: 5px;
}

h1 {
    font-family: 'Roboto Condensed';
}

h2 {
    font-family: 'Roboto',monospace;
}

#logo {
    width: 3rem;
}

.sidebar .sidebarButtons {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.sideButton {
    background-color: var(--base-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    font-size: medium;
}

.sideButton:hover {
    transform: scale(1.1);
    cursor: pointer;
    text-shadow: white 1px 0 10px;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 'topBar topBar'
                         'welcome headerbuttons';
    background-color: white;
    padding: 1rem 0;
    border-radius: 0px 20px 0px 0px;
    box-shadow: 0 10px 10px grey;
}

.header .topBar {
    display: grid;
    grid-area: topBar;
    grid-template-columns: 2fr 1fr;
    margin: 0 1rem;
    gap: 30px;
}

.header .topBar .notificationBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    margin-right: 4rem;
}

label, input[type=search] {
    display: flex;
    margin-top: 10px;
    align-items: center;
    border-radius: 20px;
    height: 2rem;
    flex-grow: 1;
}

input[type=search] {
    background-color: lightgray;
}

.notificationBox img {
    width: 3rem;
    border: solid gray;
    border-radius: 50px;
    padding: 5px
}

.notificationBox div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .welcomeBox {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 5px;
    margin: 0 1rem;
}

.welcomeBox img {
    width: 100px;
    border: solid gray;
    margin-right: 2rem;
    border-radius: 50px;
    padding: 5px
}
.header .headerButtons {
    display: flex;
    gap: 40px;
    justify-self: center;
    align-self: center;
    margin-right: 4rem;
}

.headerButton {
    color: white;
    background-color: var(--base-color);
    padding: 10px 3rem;
    border: none;
    border-radius: 20px;
}

.headerButton:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 10px var(--base-color);
}

.headerButton:active {
    transform: scale(0.9);
}


.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-area: projects;
    overflow: scroll;
    max-height: 100vh;
    gap: 15px;
}

.projects h2 {
    grid-column: 1 /-1;
    margin: 1rem 1rem 0;
}

.projectCard {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    height: 250px;
    padding: 2rem;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    margin: 0 1rem;
    background-color: var(--sub-color);
    background-image: -webkit-linear-gradient(left, var(--base-color), var(--base-color) 2%, transparent 2%, transparent 100%);;
}

.projectCard span {
    font-weight: bolder;
    font-size: larger;
}

.projectCard p {
    overflow: scroll;
    margin: 1rem 0rem 0rem 3rem;
}

.projectCard div {
    display: flex;
    justify-content: flex-end;
}

.projectImage {
    margin: 1rem 0rem 0rem 3rem;
    border-radius: 10px;
    width: 250px;
    height: 150px;
}

.projectImage:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px black;
}

.announcements {
    grid-area: announcements;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 1rem 1rem;
}

.announcements .announcementsContainer {
    box-shadow: 0 0 10px black;
    height: 100%;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--sub-color);
}

.announcementsContainer span {
    font-weight: bold;
    line-height: 2;
}

.announcementsContainer span:hover {
    font-size: large;
    cursor: pointer;
}
.announcementsContainer p {
    font-size: small;
    color: gray;
}
.trending {
    grid-area: trending;
    gap: 15px;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.trending .trendingContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 0 10px black;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--sub-color);
}

.trendingCard {
    display: flex;
    gap: 10px;
}

.trendingCard p {
    color: gray;
    font-size: small;
}

.trendingCard .user {
    color: black;
    font-size: medium;
    font-weight: 600;
}

.trendingPicture {
    width: 3rem;
    border: solid gray;
    border-radius: 20px;
}

.trendingContainer .trendingCard p:hover, img:hover {
    font-size: large;
    cursor: pointer;
}